
nav {
    color: chartreuse;
    text-decoration: none ;
    
    margin: 60px ;
  display: inline-block;
}
h1{
    text-align: center;
    background-color: red;
}

p{
    text-align: left;
background-color: darkolivegreen;}
ol li {
     color: dimgray;
    bottom:auto;

}
img {
    width: 680px;
    height: 680px;
    object-fit: scale-down;
}


section{
    text-align: justify;
}
#only{
    
    text-align: center;
    color: darkorange;
}