html{
    background-color: burlywood;
}


h1{
    text-align: center;
    background-color: red;
}

p{
background-color: darkolivegreen;}
nav ul li a {
    display: inline-block;
    text-decoration: none;
      margin-left: 35px;
}


img {
    margin-left: auto;
    margin-right: auto;

}

#only{
    background-color: crimson;
}